<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>

  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>

  <div class="field">
  <label>Answers</label><br>
  <div id="answers">
  <%= f.fields_for :answers, f.object.answers || f.object.answers.build do |a| %>
    <%= a.text_field :text %><br>
  <% end %>
  </div>
  <a id="addAnswer">Add Answer</a>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

var count = <%= @numOfAnswers %>;

$(document).ready(function() {
  $('#addAnswer').click(function() {
    $('#answers').append('<input id="poll_answers_attributes_'+count+'_text" name="poll[answers_attributes]['+count+'][text]" type="text" /><br>');
    ++count;
  });
});
</script>