<%= div_for poll do %>
	<h3>
		<%= link_to poll.question, poll %>
		<% if session[:user_id] %>
		<span class='actions'>
			<%= link_to "Edit", edit_poll_path(poll) %>
			<%= link_to "Delete", poll, confirm: "Are you sure?", method: :delete %>
		</span>
		<% end %>
	</h3>
	<%= form_tag url_for(:controller => 'polls', :action => 'vote'), :method => 'post' do %>
	<table>
	<tr><td>Odgovor</td><td>Broj glasova</td></tr>
	<% @poll.answers.order(:value).reverse.each do |answer| %>
		<tr>
			<td><%= radio_button_tag 'aid', answer.id, false %> <%= answer.text %></td>
			<td><%= answer.value %><td>
		</tr>
	<% end %>
	</table>
	<%= submit_tag 'Vote' %>
	<% end %>
<% end %>