<%= div_for poll do %>
	<h3>
		<%= link_to poll.question, poll %>
		<span class='actions'>
			<%= link_to "Edit", edit_poll_path(poll) %>
			<%= link_to "Delete", poll, confirm: "Are you sure?", method: :delete %>
	</h3>
	<% @poll.answers.each do |answer| %>
		<li><%= answer.text %> - <%= answer.value %></li>
	<% end %>
<% end %>