<%= div_for poll do %>
	<h3>
		<%= link_to poll.question, poll %>
		<span class='actions'>
			<%= link_to "Edit", edit_poll_path(poll) %>
			<%= link_to "Delete", poll, confirm: "Are you sure?", method: :delete %>
		</span>
	</h3>
	<table>
	<tr><td>Odgovor</td><td>Broj glasova</td></tr>
	<% @poll.answers.each do |answer| %>
		<tr><td><%= answer.text %></td><td><%= answer.value %><td></tr>
	<% end %>
	</table>
<% end %>